<h2>Insurance Policies</h2>
<table  class="heroes" style="width:50%" border="1">
  <tr class="heroes">
    <th>Policy Number</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <tr class="heroes" *ngFor="let policy of policies" >
    <td>{{ policy.num }}</td>
    <td>{{ policy.amount }}</td>
    <td>{{ policy.description }}</td>

    <td>
    <button (click)="deleteButton(policy)">Delete</button>
    <!-- <button (click)="updatePolicy(policy)">Update</button>  -->
    </td>
  </tr>
</table>

