.selected {
  background-color: green !important;
  color: white;
}
  
.policies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.policies td {
  display: flex;
}

.policies button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: green;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.policies button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.policies button:active {
  background-color: #525252;
  color: green;
}

.policies button.selected {
  background-color: green;
  color: white;
}

.policies button.selected:hover {
  background-color: green;
  color: white;
}

.policies button.selected:active {
  background-color: green;
  color: white;
}

.policies .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.policies .name {
  align-self: center;
}

