/* policy-listComponent's private CSS styles */
.policy-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .policy-list table {
    position: relative;
    cursor: pointer;
    background-color: #DDD;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
  }
  
  .policy-list tr {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }

  .policy-list tdr {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }

  .policy-list li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  